*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
}



.container
{
    width: 100%;
}

header
{
    height: 50px;
}


.header_nav{
    float:right;
    display: block;
    overflow: hidden;
    line-height:25px;
    padding: 0 15px; 
    }

.header_nav a {
    text-decoration: none;
    float:left;
    margin: 10px 10px;
    text-align: right;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
   
 }

.header_nav a:hover{
    text-decoration: underline;
}
.nav_icon{
    height: 30px;
    width: 30px;
    opacity: .55;
    display: inline-block;
    
}

.google_apps_icon{

    background-image: url("https://ssl.gstatic.com/gb/images/v1_68f30204.png");
    background-position: 0 -1801px;
}

.nav_circ_icon
{
    border-radius:50%;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    color: white;
}

.google_not_icon{
    height: 20px;
    width: 20px;
    line-height: 20px;
    background:#f44336;
}

.google_acc_icon{
    height: 30px;
    width: 30px;
    line-height: 30px;
    background:#9c27b0;
}

.image_logo{
  text-align : center;
 
   
}
 .image_logo img
 {
    width: 272px;
    height:auto;
    padding-top:112px;
   
}

.search_input_wrapper{
    /*text-align: center;*/
    margin: 20px 20px; 
    position: relative;
    width: 40%;
}

.search_input{
    
    padding: 15px 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    position: absolute;
    
    
}

.search_input:hover{
    box-shadow: 2px 5px 8px rgb(194, 191, 191);

}

